
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section main {

    <div class="row">
        <div class="col-lg-12">
            <div id="OrderTableContainer"></div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            //Prepare jtable plugin
            $('#OrderTableContainer')
                .jtable({
                    title: 'List Order',
                    actions: {
                        listAction: '/Order/GetListOrder',
                        createAction: '/Order/AddOrder',
                        updateAction: '/Order/UpdateOrder',
                        deleteAction: '/Order/DeleteOrder'
                    },
                    fields: {
                        id: {
                            title: "Order Id",
                            key: true,
                            create: false,
                            edit: false,
                        },
                        status: {
                            title: 'Status',
                            width: '5%',
                            options:{
                                'PENDING': 'PENDING',
                                'DONE': 'DONE',
                                'NONE': 'NONE',
                            }
                        },
                        products: {
                            title: 'product',
                            edit: false
                        }
                       

                    }
                });

            //Load student list from server
            $('#OrderTableContainer').jtable('load');
            });
    </script>
}