
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section main {
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-lg-10">
            <div class="col-lg-6">
                <input id="txtBrandName" type="text" class="form-control" placeholder="Enter Brand Name">
            </div>
            <div class="col-lg-4">
                <button id="btnSearch" type="submit" class="btn">Search</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="BrandTableContainer"></div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
                //Prepare jtable plugin
                $('#BrandTableContainer')
                    .jtable({
                        title: 'List Brand',
                        actions: {
                            listAction: '/Brand/GetListBrand',
                            createAction: '/Brand/AddBrand',
                            updateAction: '/Brand/UpdateBrand',
                            deleteAction: '/Brand/DeleteBrand'
                        },
                        fields: {
                            id: {
                                title: 'Brand ID',
                                key: true,
                                create: false,
                                edit: false,
                            },
                            name: {
                                title: 'Name',
                            }
                        }
                    });

                $('#btnSearch').click(function (e) {
                    e.preventDefault();
                    $('#BrandTableContainer').jtable('load', {
                        brandName: $('#txtBrandName').val(),
                    });
                });

                $('#btnSearch').click();
            });
    </script>

}

