
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section main {

    <div class="row">
        <div class="col-lg-12">
            <div id="BrandTableContainer"></div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
                //Prepare jtable plugin
                $('#BrandTableContainer')
                    .jtable({
                        title: 'List Brand',
                        actions: {
                            listAction: '/Brand/GetListBrand',
                            createAction: '/Brand/AddBrand',
                            updateAction: '/Brand/UpdateBrand',
                            deleteAction: '/Brand/DeleteBrand'
                        },
                        fields: {
                            id: {
                                title: 'Brand ID',
                                key: true,
                                create: false,
                                edit: false,
                            },
                            name: {
                                title: 'Name',

                            },
                            nameproduct: {
                                title: 'Product',
                                width: '5%',
                                //display: function(data){
                                //    return data.record.products.nameproduct;
                                //},
                                edit: false
                            }
                        }
                    });

                //Load student list from server
                $('#BrandTableContainer').jtable('load');
            });
    </script>

}

