
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section main {
    <h2 style="text-align: center;">Your order has been processed. Please remember this id: #@ViewBag.PaymentId</h2>    
}

