
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section main{

    <div class="body-content outer-top-bd">
    <div class="container">
        <div class="sign-in-page inner-bottom-sm">
            <div class="row">
                <!-- Sign-in -->
                <div class="col-md-6 col-sm-6 sign-in">
                    <h4 class="">sign in</h4>
                    <p class="">Hello, Welcome to your account.</p>
                    <div class="social-sign-in outer-top-xs">
                        <a href="#" class="facebook-sign-in"><i class="fa fa-facebook"></i> Sign In with Facebook</a>
                        <a href="#" class="twitter-sign-in"><i class="fa fa-twitter"></i> Sign In with Twitter</a>
                    </div>
                    <form class="register-form outer-top-xs" role="form" action="/Login/checkLogin" method="POST" >
                        <div class="form-group">
                            <label class="info-title" for="exampleInputEmail1">Email Address or Username <span>*</span></label>
                            <input type="text" class="form-control unicase-form-control text-input" id="exampleInputEmail1" name="name">
                        </div>
                        <div class="form-group">
                            <label class="info-title" for="exampleInputPassword1">Password <span>*</span></label>
                            <input type="password" class="form-control unicase-form-control text-input" id="exampleInputPassword1" name="pass">
                        </div>
                        <div class="radio outer-xs">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Remember me!
                            </label>
                            <a href="#" class="forgot-password pull-right">Forgot your Password?</a>
                        </div>
                        <button type="submit" class="btn-upper btn btn-primary checkout-page-button">Login</button>
                    </form>
                </div>
                <!-- Sign-in -->
                <!-- create a new account -->
                <div class="col-md-6 col-sm-6 create-new-account">
                    <h4 class="checkout-subtitle">create a new account</h4>
                    <p class="text title-tag-line">Create your own Unicase account.</p>
                    <form class="register-form outer-top-xs" role="form" action="/Login/doRegister" method="POST">
                        <div class="form-group">
                            <label class="info-title" for="exampleInputUsername" >Username <span>*</span></label>
                            <input type="text" class="form-control unicase-form-control text-input" name="username" id="exampleInputEmail2">
                        </div>
                        <div class="form-group">
                            <label class="info-title" for="exampleInputEmail">Name<span>*</span></label>
                            <input type="text" class="form-control unicase-form-control text-input" name="name" id="exampleInputEmail2">
                        </div>'
                        <div class="form-group">
                            <label class="info-title" for="exampleInputPassword">Age <span>*</span></label>
                            <input type="text" class="form-control unicase-form-control text-input" name="age" id="exampleInputEmail2">
                        </div>
                        <div class="form-group">
                            <label class="info-title" for="exampleInputAddress">User Address <span>*</span></label>
                            <input type="text" class="form-control unicase-form-control text-input" name="userAddress" id="exampleInputEmail2">
                        </div>
                        <div class="form-group">
                            <label class="info-title" for="exampleInputPassword" >Password <span>*</span></label>
                            <input type="password" class="form-control unicase-form-control text-input" name="password" id="exampleInputEmail2">
                        </div>
                        <div class="form-group">
                            <label class="info-title" for="exampleInputEmail2">Phone Number <span>*</span></label>
                            <input type="text" class="form-control unicase-form-control text-input" name="phoneNumber" id="exampleInputEmail2">
                        </div>


                        <button type="submit" class="btn-upper btn btn-primary checkout-page-button">Sign Up</button>
                    </form>
                    <span class="checkout-subtitle outer-top-xs">Sign Up Today And You'll Be Able To :  </span>
                    <div class="checkbox">
                        <label class="checkbox">
                            <input type="checkbox" id="speed" value="option1"> Speed your way through the checkout.
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="track" value="option2"> Track your orders easily.
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="keep" value="option3"> Keep a record of all your purchases.
                        </label>
                    </div>
                </div>
                <!-- create a new account -->
            </div><!-- /.row -->
        </div><!-- /.sigin-in-->
        <!-- ============================================== BRANDS CAROUSEL ============================================== -->
        <!-- /.logo-slider -->
        <!-- ============================================== BRANDS CAROUSEL : END ============================================== -->
    </div><!-- /.container -->
</div><!-- /.body-content -->    
}
    



