
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section main{
    <form class="form-horizontal">
    <fieldset>
        <!-- Form Name -->
        <legend>My Account</legend>
     
       
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Name</label>
            <div class="col-md-5">
                <input id="name" name="name" type="text" placeholder="" class="form-control input-md">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Username">Username</label>
            <div class="col-md-5">
                <input id="Username" name="Username" type="text" placeholder="" class="form-control input-md">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="age">Age</label>
            <div class="col-md-5">
                <input id="age" name="age" type="text" placeholder="" class="form-control input-md">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Password">Password</label>
            <div class="col-md-5">
                <input id="Password" name="Password" type="password" placeholder="" class="form-control input-md">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Password">Confirm Password</label>
            <div class="col-md-5">
                <input id="Password" name="Password" type="password" placeholder="" class="form-control input-md">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Address">User Address</label>
            <div class="col-md-5">
                <input id="Address" name="Address" type="text" placeholder="" class="form-control input-md">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Phone">Phone Number</label>
            <div class="col-md-5">
                <input id="Phone" name="Phone" type="number" placeholder="" class="form-control input-md">

            </div>
        </div>
        <!-- Text input-->
        <div class="form">
            <a  href="#" >
             <input id="submit" name="submit" type="submit" placeholder="" value="Submit"  class="btn btn-upper btn-primary outer-left-xs">
            </a>
        </div>
       
       
    </fieldset>
</form>
    
}

